.plans-menu {
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
  &.-enabled {
    padding-right: 4rem;
    .sliders {
      display: flex;
    }
  }

  > div {
    overflow: hidden;
  }
  .tabs {
    a {
      display: block;
    }
    li {
      float: left;
    }
  }
  .sliders {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 4rem;
    align-items: stretch;
    > * {
      flex: 1 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      svg {
        fill: $text-color-weak;
      }
    }
  }
}
